BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseCRLF: false
UseTab: Never
IndentCaseLabels: true
CaseIndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
IndentAccessModifiers: false
AccessModifierOffset: -4
SpaceBeforeParens: ControlStatements
SpacesInConditionalStatement: false 
SpacesInParentheses: false 
SpacesInSquareBrackets: false 
SpaceInEmptyParentheses: false 
SpaceBeforeAssignmentOperators: true
SpaceAfterAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterRangeBasedForLoopColon: true
SpacesInAngles: false 
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false 
SpacesInTrailingComments: true 
IncludeBlocks: Regroup
DerivePointerAlignment: false 
PointerAlignment: Left
